<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        a{
            text-decoration:none;
            
        }
    </style>
</head>
<img id="img-of-the-day" width="500px">
<form th:action="@{/picture/create}" id="comment_form" method="post" th:object="${feedback}">
    <input type="number" max="5" min="1" th:field="*{rate}">
    <h1>Author:</h1>
    <input type="text" th:field="*{author}">
    <h1>Feedback</h1>
    <textarea form="comment_form" th:field="*{comment}"></textarea>
    <br>

        <input type="hidden" th:id="initDate" th:name="initDate"
               th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/>
<!--    th:value đưa giá trị lên ô input-->

        <br>
    <input type="submit" value="Comment">
    <br>
</form>
<div th:each="cmt: ${list}" th:object="${cmt}">
    <hr>
    <p th:text="'+' + *{rate} + ' ' + *{comment}"></p>
    <span th:text="*{likes + 'Likes'} "></span>
    <a th:href="@{/picture/like(id= *{id})}">like</a>
</div>
</body>
<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=IANMvAxhR4Ipgor0sMcHGATeUy0BiBueQANsxe7Y';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function () {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>
</html>
